@page "/"

<PageContainer Title="Samples Manager" IsShowSearch="true" SearchClick="OnSearch">
</PageContainer>

<p>
    Search Text: @SearchText
</p>

@code{

    private string SearchText { get; set; }

    private void OnSearch(string searchText)
    {
        SearchText = searchText;
        StateHasChanged();
    }
}