@page "/"


<ul>
    <li>Last multiple of two = @LastMultipleOfTwo</li>
    <li>Last multiple of three = @LastMultipleOfThree</li>
</ul>

<Counter2 OnMultipleOfThree=@UpdateLastMultipleOfThreeValue 
          OnMultipleOfTwoAction=@UpdateLastMultipleOfTwoValue />
@code
{
    int LastMultipleOfTwo = 0;
    int LastMultipleOfThree = 0;
    private Task UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
        return Task.CompletedTask;
    }
    private void UpdateLastMultipleOfTwoValue(int value)
    {
        LastMultipleOfTwo = value;
    }
}