@page "/normal"

@attribute [Authorize(Roles = "Admin, Normal")]
@using BlazorApp15.Data
@inject WeatherForecastService ForecastService


<h1>Weather Forecast with Summary Parameter</h1>



@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }






}
